:root {
  // Primary colors
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-primary-300: hsl(333, 80%, 67%);

  // Secondary colors
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(303, 10%, 53%);

  // Font
  --ff-primary: "spartan", sans-serif;
  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;
}

@media (min-width: 50em) {
  :root {
    --fs-900: 3rem;
  }
}
